.ooo {
  color: #f59e0b;
  font-weight: 700;
}

.diagram {
  color: #f50b0b;
  font-weight: 700;
}

.green {
  color: #7ee787;
  font-weight: 700;
}

.yellow {
  color: #facc15;
  font-weight: 700;
}

.blue {
  color: #60a5fa;
  font-weight: 700;
}

.orange {
  color: #f59e0b;
  font-weight: 700;
}

.red {
  color: red;
  font-weight: 700;
}